<platinum-sw-register id="service-worker"
  href="{{ site.baseurl }}/sw-import.js"
  base-uri="{{ site.assets.cdn }}{{ site.assets.prefix }}/platinum-sw/"
  auto-register>
  <platinum-sw-offline-analytics></platinum-sw-offline-analytics>
  <platinum-sw-cache cache-config-file="{{ site.baseurl }}/cache.json">
  </platinum-sw-cache>
</platinum-sw-register>

<paper-toast id="toast-service-worker" style="display: none;"
  duration="3500" unresolved>
  {{ site.data.text.cache.toast }}
</paper-toast>
