https://{$FQDN}
tls {$EMAIL}

gzip
log stdout
errors stdout

git {
  repo {$REPO}
  branch {$BRANCH}
  hook /_deployhook {$WEBHOOK_SECRET}
}

proxy /curriculum-vitae https://evansosenko.github.io
proxy /deck-tmdsc https://evansosenko.github.io
proxy /deck-ucr-exam https://evansosenko.github.io
proxy /deck-dichalcogenides-superconductivity https://evansosenko.github.io
proxy /deck-spin-lifetime https://evansosenko.github.io
