https://{$PRODUCTION_FQDN} {
  import /etc/Caddyfile.default
  import /etc/Caddyfile.csp
  root production

  git {
    repo {$PRODUCTION_REPO}
    branch {$PRODUCTION_BRANCH}
    hook /_deployhook/production {$WEBHOOK_SECRET}
  }

  proxy /curriculum-vitae https://{$PROXY_FQDN}
  proxy /deck-tmdsc https://{$PROXY_FQDN}
  proxy /deck-ucr-exam https://{$PROXY_FQDN}
  proxy /deck-dichalcogenides-superconductivity https://{$PROXY_FQDN}
  proxy /deck-spin-lifetime https://{$PROXY_FQDN}
}

https://{$STAGING_FQDN} {
  import /etc/Caddyfile.default
  import /etc/Caddyfile.csp
  root staging
  git {
    repo {$STAGING_REPO}
    branch {$STAGING_BRANCH}
    hook /_deployhook/staging {$WEBHOOK_SECRET}
  }
}
