---
layout: default
title: Curriculum Vitae
---

<section id="cv">
  <h1>Curriculum Vitae</h1>
  <nav data-magellan-expedition="fixed">
  <dl>
    <dt><a href="{{ site.io_domain }}/curriculum-vitae/Evan Sosenko - Curriculum Vitae.pdf"><span class="fi-page-pdf"></span>pdf - cv</a></dt>
    {% for cv in site.data.cv %}
      {% if cv.type == 'section' %}

      {% if cv.name %}
        {% assign title = cv.name %}
      {% else %}
        {% assign title = cv.id %}
      {% endif %}

      <dd data-magellan-arrival="{{ cv.id }}"><a href="#{{ cv.id }}">{{ title }}</a></dd>

    {% endif %}
  {% endfor %}
  </dl>
  </nav>

  {% for cv in site.data.cv %}
    {% case cv.type %}
    {% when 'section' %}

      {% if cv.name %}
        {% assign title = cv.name %}
      {% else %}
        {% assign title = cv.id %}
      {% endif %}

      {% unless forloop.first %}</section>{% endunless %}
      <section>
        <div id="{{ cv.id }}" class="magellan-destination" data-magellan-destination="{{ cv.id }}"></div>
        <h2>{{ title }}</h2>
    {% when 'entry' %}
      <div class="entry">
        <h3 class="name">
        {% if cv.url %}<a href="{{ cv.url }}">{% endif %}
          {% if cv.icon %}<span class="{{ cv.icon }}"></span>{% endif %}
          {{ cv.name }}
        {% if cv.url %}</a>{% endif %}
        </h3>
        <p class="date">{{ cv.start }}{% if cv.end %}{% unless cv.start == cv.end %}–{{ cv.end }}{% endunless %}{% endif %}</p>
        <div class="info">
          <p class="location">{{ cv.location }}</p>
          {% if cv.description %}
            <p class="description">
              {{ cv.description }}
              {% if cv.url %}<a href="{{ cv.url }}" title="view this online"><span class="fi-link"></span></a>{% endif %}
            </p>
          {% endif %}
        </div>
      </div>
    {% when 'list' %}
      <dl class="list">
      {% for list in cv.lists %}
        {% for item in list %}
          {% if forloop.first %}
            <dt class="name">{{ item }}</dt>
              <div class="info">
          {% else %}
            <dd>{{ item }}</dd>
          {% endif %}
          {% if forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </dl>
    {% endcase %}
  {% endfor %}
</section>
