$susy: (
  container: 960px
);

$font-family-sans-serif: (
  'Noto Sans',
  'Open Sans',
  'Helvetica Neue',
  Helvetica,
  Roboto,
  Arial,
  sans-serif
);

$font-family-monospace: (
  'Inconsolata-g',
  Inconsolata,
  Consolas,
  monospace
);

$font-family-code: (
  'Monoid Regular'
);
