body {
  font-family: font(body);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: font(heading);
  }
}

code,
pre {
  font-family: font(monospace);

  &[class*='language-'] {
    font-family: font(code), font(monospace);
  }
}

.no-js,
.js {
  @each $selector in $font-selectors {
    #{$selector} {
      transition: opacity .25s ease-in-out;
      opacity: 0;
    }
  }
}

.wf-active,
.wf-inactive {
  @each $selector in $font-selectors {
    #{$selector} {
      opacity: initial;
    }
  }
}
