body {
  font-family: font(body);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: font(heading);
  }
}

code,
pre {
  font-family: font(monospace);

  &[class*='language-'] {
    font-family: font(code), font(monospace);
  }
}

.no-js,
.js {
  @each $selector in $font-selectors {
    #{$selector} {
      transition: $webfont-transistion;
      opacity: 0;
    }
  }
}

@each $key, $selector in $webfont-selectors {
  $classes-active: ();
  $classes-inactive: ();

  @each $family in map-get($webfont-families, $key) {
    $classes-active: append($classes-active, '.wf-#{$family}-active');
    $classes-inactive: append($classes-inactive, '.wf-#{$family}-inactive');
  }

  #{$classes-active} {
    #{$selector} {
      opacity: initial;
    }
  }

  #{$classes-inactive} {
    #{$selector} {
      opacity: initial;
    }
  }
}
