@import 'susy/sass/susy';
@import 'include-media/dist/include-media';
@import 'settings';

html {
  font-size: 10px;
}

body {
  font-family: $font-family-sans-serif;
}


.highlight {
  // scss-lint:disable QualifyingElement
  code[class*='language-'],
  pre[class*='language-'] {
    font-family: $font-family-code, $font-family-monospace;
  }
}

p {
  border: 0;
}
