body
  overflow-y: scroll

a
  text-decoration: none
  color: inherit
  &:visited, &:hover
    color: inherit

#top
  text-align: center
  margin-bottom: 3em

#banner
  width: 100%
  height: $banner_height
  margin: 0.2 * $banner_height auto
  margin-bottom: 0.2em
  padding-top: 0.3 * $banner_height
  background-color: $clr_blue_green

#title
  color: $site_title_clr
  font-family: $site_title_font
  font-weight: normal
  text-transform: lowercase
  &:before
    content: "{"
  &:after
    content: "}"
  span
    width: 0
    margin-left: -0.35em
    display: inline-block
    &:before
      content: "|"
      font-weight: bold

#external
  display: inline-block
  ul
    +inline-list

#email_modal
  text-align: center

$cv_first_column_padding: 30px

#cv
  h1
    text-align: center
  .pdf
    float: left
  nav
    +sub-nav
    background-color: $clr_blue_green
    dt a
      color: #FFF
      font-weight: bold
      +simple_bullets( $pdf_icon, $pdf_icon_padding )
      &:after
        content: " :"

  section
    +grid-row
    +panel
    // give magellan a target above the title
    position: relative
    .magellan-destination
      visibility: hidden
      height: 0
      position: absolute
      top: -100px
      @media #{$small}
        top: -50px
    .entry
      +grid-column
      +grid-row
      padding-left: rem-calc(40)
      .date
        margin-bottom: 0
      @media #{$small}
        .name
          +grid-column(8, $push: 4)
          padding-left: 0
        .date
          +grid-column(4, $pull: 8)
          padding-left: rem-calc( $cv_first_column_padding )
        .info
          +grid-column(8, $offset: 4)
          padding-left: 0

    .list
      +horizontal-list-container
      dt
        margin-bottom: rem-calc(10)
      .name
        clear: both
      .info
        dd
          +horizontal-list-item
          &:before
            content: "· "
          &:first-child:before
            content: ""
      @media #{$small}
        +grid-row
        .info
          +grid-column(8)
        .name
          +grid-column(4)
          padding-left: rem-calc( $cv_first_column_padding + 10px )
