html
  overflow-y: scroll

// Foundation 5.2.1 sets
// height: 100%
// which breaks the layout
body
  height: auto

a
  text-decoration: none
  color: inherit

  &:visited, &:hover
    color: inherit

code
  white-space: pre
  overflow-x: auto
  color: $clr_purple

pre
  +panel
  padding: rem-calc(5)

div.gist
  +ui-spinner($size: 15px, $hole-color: black, $bkg-color-dark: $clr_blue_green)

  .ui-spinner
    display: inline-block
    margin-bottom: -4px

div.gist div.gist-data.gist-syntax
  background: transparent

  table.lines.highlight
    background: transparent
    border: none

h2.tagline
  +simple_emboss(#fff)
  width: 50%
  margin: 0 auto
  margin-top: rem-calc(20)
  font-size: 1.2rem

#top
  text-align: center
  margin-bottom: $top_margin-bottom
  background-color: $clr_blue_green

#banner
  height: $banner_height

#title
  color: $site_title_clr
  font-size: 3rem
  font-family: $site_title_font
  font-weight: $site_title_font_weight
  text-transform: lowercase
  +simple_emboss

  &::before
    content: "{"

  &::after
    content: "}"

  span
    width: 0
    display: inline-block

    &::before
      margin-left: rem-calc(-5)
      content: "|"

  @media only screen and (max-width: 350px)
    font-size: 2.5rem

#personal_links
  +simple_emboss
  display: inline-block
  color: $site_title_clr

  a
    +hover_glow($clr_sky_eyes)
    font-size: $personal_links_font-size
    line-height: normal

    &.icon
      font-size: $personal_links_font-size

  ul
    +inline-list

#email_modal
  text-align: center

html.flexbox body
  display: flex
  min-height: 100vh
  flex-direction: column

  dl.projects
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: center
    justify-content: space-between

    div
      min-width: rem-calc(100)

    @media #{$medium-up}
      div
        width: 45%

html.no-flexbox
  #banner
    width: 100%
    margin: 0 auto

section.projects,
section.posts
  width: 50%
  margin: 0 auto
  margin-top: rem-calc(20)

  h2
    margin-bottom: rem-calc(20)
    font-size: 1.3rem

    &.icon::before
      margin-right: rem-calc(10)

  dl.projects div
    +hover_glow($body_hover_color)

  ul.posts
    margin-left: 0

    li
      +hover_glow($body_hover_color)
      text-transform: lowercase
      list-style-type: none

      &::before
        margin-right: rem-calc(5)
        content: "»"

article.post.single

  @media #{$medium-up}
    margin: 0 auto

  +post_min_width($medium-up, $medium-range)

  header
    +grid-row
    +grid-column(12)

    h1
      font-size: 0.6 * $h1-font-size

  section.content
    +grid-row
    +grid-column(12)
    clear: both
    max-width: 700px

    h2
      font-size: 0.6 * $h2-font-size

      a
        color: inherit
        &::before
          color: $clr_blue_green

      a[class*='fi-']::before
        padding-right: 0.5em

    h3
      font-size: 0.6 * $h2-font-size
      font-style: italic

    a
      color: $clr_blue_green

  aside.social-buttons
    +grid-row
    +grid-column(12)
    clear: both
    margin-bottom: rem-calc(20)
    margin-top: rem-calc(20)

  aside.comments
    +grid-row
    +grid-column(12)
    clear: both

#cv
  h1
    text-align: center

  .pdf
    float: left

  nav
    +sub-nav
    margin: 0
    margin-bottom: rem-calc(5)
    background-color: $clr_blue_green

    dl
      padding-top: rem-calc(10)

    dt a, dd a
      padding: 0

    dt
      span
        padding-right: $cv_nav_padding-right

      a
        +hover_glow($cv_nav_color_b)
        color: $cv_nav_color_a
        font-weight: $cv_nav_font-weight

    dd
      a
        +hover_glow($cv_nav_color_a)
        color: $cv_nav_color_b

    .magellan-show-button
      display: none

    @media #{$medium-up}
      .magellan-hide-button
        display: none

  section
    +grid-row
    +panel
    // give magellan a target above the title
    position: relative

    .magellan-destination
      visibility: hidden
      height: 0
      position: absolute
      top: -100px

      @media #{$medium-up}
        top: -50px

    .entry
      +grid-column
      +grid-row

      .date
        margin-bottom: 0

      @media #{$medium-up}
        padding-left: $cv_entry_padding-left

        .name
          +grid-column(8, $push: 4)
          padding-left: 0

          a
            +hover_glow($body_hover_color)

        .date
          +grid-column(4, $pull: 8)
          padding-left: rem-calc($cv_first_column_padding-left)

        .info
          +grid-column(8, $offset: 4)
          padding-left: 0

    .list
      +horizontal-list-container

      dt
        margin-bottom: $cv_list_margin-bottom

      .name
        clear: both

      .info
        dd
          +horizontal-list-item

          &::before
            content: "· "

          &:first-child::before
            content: ""

      @media #{$medium-up}
        +grid-row

        .info
          +grid-column(8)

        .name
          +grid-column(4)
          padding-left: rem-calc($cv_first_column_padding-left + 10)
