---
layout: default
---

<header id="top">
  <h1 id="banner" title="{{ site.data.text.tagline }}"><a id="title" href="{{ site.baseurl }}/">Evan <span></span> Sosenko</a></h1>
  {% include personal_links.html %}
</header>

{{ content }}

<div id="email_modal" class="reveal-modal" data-reveal>
{% if site.data.text.emails %}
  <dl>
  {% for item in site.data.text.emails %}
    <dt>{{ item.name }}</dt>
    <dd>{{ item.email }}</dd>
  <dl>
  {% endfor %}
{% endif %}
  <a class="close-reveal-modal" title="Close modal.">×</a>
</div>
