---
external:
  - name: GitHub
    url: https://github.com/razor-x
    image: github.com.png

  - name: RubyGems.org
    url: https://rubygems.org/profiles/49715
    image: rubygems.org.png

  - name: Google+
    url: https://plus.google.com/118056675600044327520/
    image: plus.google.com.png

  - name: Facebook
    url: https://www.facebook.com/evan.sosenko
    image: www.facebook.com.png

  - name: Twitter
    url: https://twitter.com/ThatsMr_n00b_2u
    image: twitter.com.png
---

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  {% include meta.html %}
  <link type="text/plain" rel="author" href="humans.txt" />
  {% stylesheet app %}
  <script src="{% asset_path foundation/js/vendor/custom.modernizr.js %}"></script>
</head>

<body>
  <header id="top">
    <h1 id="banner"><a id="title" href="/">Evan <span></span> Sosenko</a></h1>
    <p>Ph.D. physics student and online business owner.</p>

    <nav id="external">
      <ul>
      {% for item in page.external %}
        <li><a href="{{ item.url }}"><img src="{{ item.image | asset_path }}" width="16" height="16" alt="{{ item.name }}" /></a></li>
      {% endfor %}
        <li><a href="" data-reveal-id="email_modal">@</a></li>
        <li><a href="/cv/">CV</a></li>
      </ul>
    </nav>
  </header>

  <div id="email_modal" class="reveal-modal">
    <p>razorx {at} evansosenko.com
    <a class="close-reveal-modal">&#215;</a>
  </div>

  {{ content }}

  {% if site.social.facebook.enabled %}
    <div class="fb-like" data-href="{{ site.domain }}{{ page.url }}" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
  {% endif %}

  {% if site.social.google.enabled %}
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% if page.meta.twitter.creator %}
      {% assign twitter_via = page.meta.twitter.creator %}
    {% elsif site.meta.twitter.creator %}
      {% assign twitter_via = site.meta.twitter.creator %}
    {% elsif site.meta.twitter.site %}
      {% assign twitter_via = site.meta.twitter.site %}
    {% else %}
      {% assign twitter_via = null %}
    {% endif %}
    <a href="https://twitter.com/share" class="twitter-share-button"{% if twitter_via %} data-via="{{ twitter_via }}"{% endif %}>Tweet</a>
  {% endif %}

{% if site.social.facebook.enabled %}
  <div id="fb-root"></div>
{% endif %}

{% capture site_javascript %}
  <script>
    Modernizr.load([
    {% for lib in site.cdn.libs %}
      {
        load: '{% if site.cdn_enabled %}{{ lib[0] }}{% else %}{{ lib[2] | asset_path }}{% endif %}',
        complete: function () {
          if ( {{ lib[1] }} ) {
            Modernizr.load('{{ lib[2] | asset_path }}');
          }
        }
      },
    {% endfor %}
      '{% asset_path app.js %}'
    ]);
  {% if site.social.facebook.enabled %}
    {% asset vendor/social-facebook %}
  {% endif %}

  {% if site.social.google.enabled %}
    {% asset vendor/social-google %}
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% asset vendor/social-twitter %}
  {% endif %}

  {% if site.disqus %}
    {% asset vendor/disqus %}
  {% endif %}

  {% if site.google_analytics %}
    {% asset vendor/google-analytics %}
  {% endif %}

  {% if site.piwik %}
    {% asset vendor/piwik %}
  {% endif %}
  </script>
{% endcapture %}
{{ site_javascript | strip_newlines }}
</body>
</html>
