---
external:
  - name: GitHub
    url: https://github.com/razor-x
    image: github.com.png

  - name: RubyGems.org
    url: https://rubygems.org/profiles/49715
    image: rubygems.org.png

  - name: Google+
    url: https://plus.google.com/118056675600044327520/
    image: plus.google.com.png

  - name: Facebook
    url: https://www.facebook.com/evan.sosenko
    image: www.facebook.com.png

  - name: Twitter
    url: https://twitter.com/ThatsMr_n00b_2u
    image: twitter.com.png
---

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" ><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link type="text/plain" rel="author" href="humans.txt" />

  {% stylesheet app %}

  {% javascript vendor/custom_modernizr %}

  <title>{{ page.title }}</title>
</head>

<body>
  <header id="top">
    <h1 id="banner"><a id="title" href="/">Evan <span></span> Sosenko</a></h1>
    <p>Ph.D. physics student and online business owner.</p>

    <nav id="external">
      <ul>
      {% for item in page.external %}
        <li><a href="{{ item.url }}"><img src="{{ item.image | asset_path }}" width="16" height="16" alt="{{ item.name }}" /></a></li>
      {% endfor %}
        <li><a href="" data-reveal-id="email_modal">@</a></li>
        <li><a href="/cv/">CV</a></li>
      </ul>
    </nav>
  </header>

  <div id="email_modal" class="reveal-modal">
    <p>razorx {at} evansosenko.com
    <a class="close-reveal-modal">&#215;</a>
  </div>

  {{ content }}

  <script>
    document.write( ( '__proto__' in {} ? '{{ "vendor/zepto" | javascript | replace:"/script","\/script" }}' : '{{ "vendor/jquery" | javascript | replace:"/script","\/script" }}' ) );
  </script>

  {% javascript app %}

  <script>
    $(document).foundation();
  </script>

  {% if site.disqus %}
    {% javascript vendor/disqus %}
  {% endif %}

  {% if site.google_analytics %}
    {% javascript vendor/google_analytics %}
  {% endif %}

  {% if site.piwik %}
    {% javascript vendor/piwik %}
  {% endif %}
</body>
</html>
