//
// Fonts
//

$font-families: (
  heading: (
    'Overpass',
    'Noto Serif',
    'Roboto Slab',
    serif
  ),
  body: (
    'Noto Sans',
    'Open Sans',
    'Source Sans Pro',
    'Helvetica Neue',
    Helvetica,
    Roboto,
    Arial,
    sans-serif
  ),
  monospace: (
    'Inconsolata-g',
    'Inconsolata-dz',
    Inconsolata,
    'DejaVu Mono',
    Consolas,
    monospace
  ),
  code: (
    'Monoid Regular',
    monospace
  )
);

$webfont-transistion: opacity .25s ease-in-out;

$webfont-families: (
  heading: ('overpass-n4'),
  body: ('notosans-n4'),
  monospace: ('inconsolata-n4'),
  code: ('monoidregular-n4')
);

$webfont-selectors: (
  heading: (h1, h2, h3, h4, h5, h6),
  body: (p, li),
  monospace: (p code),
  code: (pre code)
);

//
// Palette
//

$palette: (
);

$colors: (
);
